/* Google web fonts 'Open Sans' (italic and normal) and 'Boogaloo' */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Boogaloo);

/* reset CSS file to reset browser default styling to a consistent starting point */
@import url(reset.css);

body {
	background-image: url(../img/texture-light.png);
    background-repeat: repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 10px;
}

p {
	padding: 5px;

}

.content-box {
	width: 80%;
	background-color: #FFF;
	margin: 0 auto;
	box-shadow: 5px 5px 20px #555: 
}

.logo {
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}

.right-pic {
	float: right;
	margin-left: 10px;
	margin-right: 10px;	
}

.title {
	font-family: 'Boogaloo', sans-serif;
	font-size: 36px;
	color: #116189;
	
}


.motto {
	font-style: italic;
	font-size: 120%;
	
}

nav  {
	background-color: #D74710;
	width: 95%;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

nav li {
	display: inline-block;
}

nav a {
	display:inline-block;
	padding: 5px;
	color: #FFF;
	font-weight: bold;
	font-size: 110%;
}

nav a:link,
nav a:visited {
	text-decoration: none;
}

nav a:hover {
	background-color: #FF9D45;
	border-radius: 5px;
}

.grey-line {
	border-width: 2px;
	border-top-style: solid;
	
	margin-top: 40px;
	border-color: #DEDEDE;
}

.footer {
	font-style: italic;
	font-size:80%;
}

.mail {
	text-decoration: none;
}

.mail:hover {
	text-decoration: underline;
}

.field {
 
}